Source: kyototycoon
Priority: extra
Maintainer: Gabriel de Perthuis <g2p.code+debian@gmail.com>
Build-Depends: debhelper (>= 7.0.50), automake, autotools-dev, gawk, pkg-config, libkyotocabinet-dev (>> 1.2.30), liblua5.1-0-dev, lua5.1
Standards-Version: 3.9.1
Section: misc
Homepage: http://fallabs.com/kyototycoon/

Package: kyototycoon
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, libkyototycoon2 (= ${binary:Version}), lsb-base (>= 3.0-6)
Recommends: kyototycoon-utils
Description: Kyoto Tycoon: network interface to Kyoto Cabinet
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. You might bother
 in the case where multiple processes share the same database or where remote
 processes access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet.
 .
 This is the Kyoto Tycoon server package.

Package: kyototycoon-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, kyototycoon (= ${binary:Version})
Description: Kyoto Tycoon debugging symbols
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. You might bother
 in the case where multiple processes share the same database or where remote
 processes access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet.
 .
 This is the debugging symbols for Kyoto Tycoon.

Package: libkyototycoon2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Tycoon runtime libraries
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. You might bother
 in the case where multiple processes share the same database or where remote
 processes access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet.
 .
 This is the runtime package for programs that use the Kyoto Tycoon library.

Package: libkyototycoon-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libkyototycoon2 (= ${binary:Version}), libkyotocabinet-dev
Description: Kyoto Tycoon development files
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. You might bother
 in the case where multiple processes share the same database or where remote
 processes access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet.
 .
 This is the development package for Kyoto Tycoon. It contains headers and
 libraries.

Package: kyototycoon-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Priority: optional
Description: Kyoto Tycoon documentation
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. You might bother
 in the case where multiple processes share the same database or where remote
 processes access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet.
 .
 This is the documentation for Kyoto Tycoon.

Package: kyototycoon-utils
Architecture: any
Section: utils
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, libkyototycoon2 (= ${binary:Version})
Description: Kyoto Tycoon utilities
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. You might bother
 in the case where multiple processes share the same database or where remote
 processes access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet.
 .
 This is the Kyoto Tycoon utility package. It contains ktremotemgr and
 ktutilmgr among others.
