Source: kyototycoon
Priority: extra
Maintainer: Gabriel de Perthuis <g2p.code+debian@gmail.com>
Build-Depends:
 automake,
 debhelper (>= 7.0.50),
 libkyotocabinet-dev (>> 1.2.45),
 liblua5.1-dev,
 lua5.1,
 pkg-config
Standards-Version: 3.9.1
Section: database
Vcs-Git: https://github.com/g2p/kyototycoon.git
Vcs-Browser: https://github.com/g2p/kyototycoon
Homepage: http://fallabs.com/kyototycoon/

Package: kyototycoon
Section: database
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base (>= 3.0-6)
Recommends: kyototycoon-utils
Description: Kyoto Tycoon server
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. The server
 permits concurrent and remote connections to Kyoto Cabinet databases.
 .
 The network protocol between the server and clients is HTTP so that you
 can write client applications and client libraries in almost all popular
 languages. Both of RESTful-style interface by the GET, HEAD, PUT, DELETE
 methods and RPC-style inteface by the POST method are supported. The server
 can handle more than 10 thousand connections at the same time because it
 uses modern I/O event notification facilities such as "epoll" and "kqueue"
 of underlying systems. The server supports high availability mechanisms,
 which are hot backup, update logging, and asynchronous replication. The
 server can embed Lua, a lightweight script language so that you can define
 arbitrary operations of the database.
 .
 The server program of Kyoto Tycoon is written in the C++ language. It is
 available on platforms which have API conforming to C++03 with the TR1
 library extensions. Kyoto Tycoon is a free software licensed under the GNU
 General Public License.
 .
 This is the Kyoto Tycoon server package.

Package: libkyototycoon2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Tycoon runtime libraries
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. It
 permits concurrent and remote connections to Kyoto Cabinet databases.
 .
 This is the Kyoto Tycoon library. It contains support for writing clients
 and servers.

Package: kyototycoon-dbg
Section: debug
Architecture: any
Depends: libkyototycoon2 (= ${binary:Version}), kyotocabinet-dbg, ${misc:Depends}
Description: Kyoto Tycoon debugging symbols
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. It
 permits concurrent and remote connections to Kyoto Cabinet databases.
 .
 These are the debugging symbols for Kyoto Tycoon (library,
 server and utilities).

Package: libkyototycoon-dev
Section: libdevel
Architecture: any
Depends: libkyototycoon2 (= ${binary:Version}), libkyotocabinet-dev, ${misc:Depends}
Description: Kyoto Tycoon development files
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. It
 permits concurrent and remote connections to Kyoto Cabinet databases.
 .
 This is the development package for Kyoto Tycoon. It contains headers and
 libraries.

Package: kyototycoon-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Priority: optional
Description: Kyoto Tycoon documentation
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. It
 permits concurrent and remote connections to Kyoto Cabinet databases.
 .
 This is the documentation for Kyoto Tycoon.

Package: kyototycoon-utils
Section: utils
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Tycoon utilities
 Kyoto Tycoon is a network interface to the DBM Kyoto Cabinet. It
 permits concurrent and remote connections to Kyoto Cabinet databases.
 .
 This is the Kyoto Tycoon utility package. It contains various client
 utilities to query, administrate, test and benchmark Kyoto Tycoon servers.

